
h1{
    color: red;
    background-color: blueviolet;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

#clock{
    background-color: orangered;
    width: 200px;
    height: 80px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translateY(-40px);
    margin: auto;
    margin-top: 60px;
    color: white;
    font-weight: bolder;
    font-size:40px;
}
